<ion-view view-title="Praga Selecionada">
  <ion-content>
    <div class="container">

      <ion-list class="item card" ng-repeat="planta in pragaSelecionada track by $index">
        <ion-item class="item item-avatar-left item-text-wrap">
          <img class="full-image" src="img/maca.png" alt="Planta">
          <h2 class="titulo">{{planta.nome}}</h2>
          <p class="descricao">{{planta.texto1}}</p>
        </ion-item>

        <div class="item item-body">
          <img class="full-image" src="img/maca.png" alt="Planta">
          <p class="descricao">{{planta.texto2}}</p>
        </div>

        <a class="item item-icon-left" ng-href="#/app/tabs/pragas/">
          Voltar
          <i class="icon ion-arrow-left-c"></i>
        </a>

      </ion-list>
    </ion-content>
  </div>
</ion-view>
