<ion-tabs class="tabs-striped tabs-top tabs-icon-top">

  <ion-tab title="Plantas" icon-on="ion-leaf" icon-off="ion-leaf" href="#/app/tabs/plantas">
    <ion-nav-view name="tabPlantas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pragas" icon-on="ion-bug" icon-off="ion-bug" href="#/app/tabs/pragas/">
    <ion-nav-view name="tabPragas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Manejos" icon-on="ion-clipboard" icon-off="ion-clipboard" href="#/app/tabs/manejos/">
    <ion-nav-view name="tabManejos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
